*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
#main2{
    height: 100%;
    width: 100%;
    background-color: rgb(39, 38, 38);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr 60px;
    grid-template-areas: "header header header header"
                          "aside section section section"
                          "div1  div1 div2 div2"
                          "footer footer footer footer";

}
header{
    background-color: brown;
    grid-area:header ;
}
aside{
    background-color: blueviolet;
    grid-area:aside ;
}
section{
    background-color: cadetblue;
    grid-area: section;
}
#div1{
    background-color: chocolate;
    grid-area: div1;
}
#div2{
    background-color: darkseagreen;
    grid-area: div2;
}
footer{
    background-color: cyan;
    grid-area: footer;
}
#div1{
    grid-column: 1/3;
}