*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(25, 24, 24);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 300px 1fr;
    grid-template-areas: "header header"
                         "aside section"
                         "div div";
}
header{
    background-color: aquamarine;
    grid-area: header;
}
aside{
    background-color: brown;
    grid-area: aside;
}
section{
    background-color: blueviolet;
    grid-area: section;
}
div{
    background-color: cadetblue;
    grid-area: div;
}