*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
#card{
    
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 15px 15px 30px rgba(27, 26, 26, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    
}
#card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
}
#card h3{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
  

}
#card p{
    font-size: 18px;
    font-weight: 300;
    color: rgb(84, 77, 77);
    align-items: center;
    text-align: center;
}
#card button{
  padding: 10px 25px;
  background-color: teal;
  color: white;
    border: none;
    border-radius:25px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
#card button:hover{
    background-color: transparent;
    border: 3px solid teal;
    color: teal;
   
   
}