*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#div1{
    color: white;
    width: 100%;
    height: 15%;
    background-color: rgb(35, 35, 73);
    justify-content: center;
}
.c1{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.c2{
    text-align: center;
    font-size: 17px;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    margin-top: 40px;
}
.diva{
    width: 100%;
    height: 130px;
    background-color: rgb(219, 220, 183);
}
.divb{
    margin-top: 40px;
    width: 100%;
    height: 160px;
    background-color: rgb(194, 223, 220);
    
}
#edu{
   
    height: 30px;
    width: 500px;
    margin-top: 10px;
    margin-left: 500px;
    background-color: white;
    justify-content: center;
  

}
/* #edu1{
     margin-top: 5px;
    height: 30px;
    width: 300px;
    margin-left: 600px;
    background-color:white;
    justify-content: center;
 

} */
 .divc{
    margin-top: 40px;
    width: 100%;
    height: 190px;
    background-color: rgb(230, 204, 229);
    
}

#pro{
    background-color: rgb(190, 229, 197);
}
#contact{
    background-color: rgb(201, 190, 229);
}