*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    width:100%;
    height: 60%;
    background-color:white  ;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    padding: 10px;
    overflow-x: auto;
}
#main::-webkit-scrollbar{
height: 10px;

}
#main::-webkit-scrollbar-thumb{
    background-color: rgb(12, 54, 61);
    border-radius: 5px;
}
#main::-webkit-scrollbar-track{
    background-color:rgb(120, 177, 158);
    border-radius: 5px;
}
#div1{
   
   
   
}
.card{
    height : 300px;
    width: 250px;
    background-color:rgb(120, 177, 158);
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 20px 20px 40px rgba(27, 26, 26, 0.2);
     position: relative;
     overflow: hidden;
   
   
}  
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
 
    
} 
.bottom{
    height: 70px;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(transparent,black);
    position: absolute;
    bottom: -70px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
      transition: all 0.5s ease-in-out;
    

}
.card:hover .bottom{
      bottom: 0; 
  

   
}
.name{
    font-size: 23px;
    color: white;
    font-weight: 400;
}
.heart{
     font-size: 23px;
    color: white;
    font-weight: 400;

}

