*{  
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
 html,body{
    height: 100%;
    width: 100%;

}
#main{
    width: 100%;
    height: 100%;
}
#nav{
    margin: 20px 50px;
}
#nav a{
    color: black;
    font-size: 25px;
    font-weight: 400;
    margin-right: 30px;
    text-decoration: none;
 
}
#main h1{
    text-align: center;
    font-size: 300px;
    font-weight: 300;
   
}
#left_bottom_box{
 position: absolute;

 left : 7%;
width: 200px;
}

#left_bottom_box h3{
    font-size: 25px;
    margin-bottom: 4px;
    font-weight: 600;
}
#left_bottom_box h4{
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 4px;
    font-weight: 600;
}
#bottom_bar{
   position: absolute;
   left: 7%;
   top: 90%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#bottom_bar h3{
    font-style: italic;
    font-size: 30px;
    font-weight: 300;

}
#bottom_bar h4{
    font-style: italic;
    margin-right: 60px;
    font-size: 30px;
    font-weight: 300;

}

#img1{
    position: absolute;
    height: 300px;
    left : 42%;
    top: 47%;
}

#img2{
    position: absolute;
    height: 300px;
    left : 66%;
    top: 40%;
}
#img3{
    position: absolute;
    height: 350px;
    left : 53%;
    top: 58%;
}